body {
    font-family: sans-serif;
    background-color: lightgreen;
    margin-top: 75px;
}

.center {
 background-color: lightpink;
    text-align: center;
}

.text-big {
     text-align: center;
    font-size: 300%;
background-color: lightblue;
}

.bold {

    font-weight: bold;
}

.img-medium {

    height: 200px;
}

 .container
    {
        max-width:800px;
        margin:0 auto;
        color:blue;
        font-family:lucida console;
        
        padding-left:50px;
        padding-right:50px
    }
